.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.intro{
    text-align: center;
   
}

.nameForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
    background-color: rgb(243, 204, 204);
    border-radius: 5px;
    padding: 10px;
    

}
.nameContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    
   
}
.nameContainer label{
    font-weight: bold;
}

.nameContainer input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
}

.nameContainer button{
    padding: 10px 0;
    border-radius: 5px;
    color: blue;
    background-color: rgb(153, 243, 153);

}
.nameContainer button:hover{
    background: linear-gradient(to right,rgb(116, 116, 227),rgb(26, 26, 223));
    color: rgb(153, 243, 153);
}

.error{
    color: red;
    text-align: center;
}
